*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
h1{
    color: #D5B3E8;
    font-size: 40px;
    margin: auto;
    text-align: center;
}
body{
    background-color: #f1e5fc;
}

main{
    background-color: #FFF9F9 ;
    width: 700px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(129, 127, 127);
}
p{
    font-size: 20px;
    color: #acabab;
    text-align: center;
}

dt{
    text-align: center;
    font-size: 19px;
    padding: .5rem;
    list-style-type: disc;
    color: #949393;
}

dt li::marker{
    color: #D5B3E8;
}

li{
    padding: 0.2rem;
    color: #949393;
}

.voltar{
    text-align: left;
    font-size: 13px;
}
img{
    width: 40px;
}
@media (max-width:768px) {
    
    main{
        background-color: #FFF9F9 ;
        width: 350px;
        margin: auto;
        padding: 10px;
        box-shadow: 3px 3px 5px rgb(129, 127, 127);
    }
}