*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

body{
    background-color: #f1e5fc;
}

main{
    background-color: #FFF9F9 ;
    width: 700px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(129, 127, 127);
}

p{
    font-size: 19px;
    color: #6d6b6b;
}

button{
    border-radius: 5px;
    color: #888888;
    outline: none;
    border: transparent;
    cursor: pointer;
    font-size: 16px;
}

@media (max-width: 768px){
    
    main{
        background-color: #FFF9F9 ;
        width: 350px;
        margin: auto;
        padding: 10px;
        box-shadow: 3px 3px 5px rgb(129, 127, 127);
    }
    
}