*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
h1{
    color: #D5B3E8;
    font-size: 40px;
    margin: auto;
    text-align: center;
}
body{
    background-color: #f1e5fc;
}

main{
    background-color: #FFF9F9 ;
    width: 700px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(129, 127, 127);
}
p{
    font-size: 19px;
    color: #acabab;
    text-align: center;
}

strong{
    font-size: 19px;
}
button{
    border-radius: 5px;
    color: #a09e9e;
    outline: none;
    border: 1px solid #D5B3E8;
    cursor: pointer;
    font-size: 16px;
    background-color: transparent;
}
h2{
    color: #a09e9e;
    }

input[type="text"], input[type="date"]{
    width: 90%;
    padding: 0.6rem;
    border-radius: 5px;
    border: 2px solid #D5B3E8;
    outline: none;
    background-color: transparent;
}

input[type="radio"], input[type="checkbox"] {
    accent-color: #D5B3E8;
}

textarea{
    border-radius: 5px;
    border: 2px solid #D5B3E8;
    background-color: transparent;

}

@media (max-width: 768px){
    
    main{
        background-color: #FFF9F9 ;
        width: 350px;
        margin: auto;
        padding: 10px;
        box-shadow: 3px 3px 5px rgb(129, 127, 127);
    }
    
}